@import "./functions";

// Allows responsive styles depending on user's device

@mixin media-breakpoint($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @if $breakpoint == "xs" {
            @media (max-width: #{map-get($breakpoints, $breakpoint)}) {
                @content;
            }
        } @else {
            @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
                @content;
            }
        }
    }
}

// Creates a container according to user's device

@mixin make-container($breakpoint) {
    @if map-has-key($container-max-widths, $breakpoint) {
        max-width: #{map-get($container-max-widths, $breakpoint)};
        margin-right: auto;
        margin-left: auto;
    }
}

// Creates a flex wrapper for a series of columns

@mixin make-row() {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 30px;
}

// Creates a sizeable column inside a flex wrapper

@mixin make-col($col-size) {
    display: flex;
    flex-direction: column;
    flex: $col-size auto;
}

// Creates a grid with sizeable cells and rows

@mixin make-grid($template) {
    display: grid;
    grid-template-columns: $template;
    grid-gap: calc($gutter-x - 10px);
    flex: 1;
}
