@import "./variables";
@import "./fonts";
@import "./mixins";

@import "../../components/Pages/OutfitPage/styles.scss";


html,
body {
    font-family: $primary-font;
    color: $content-color;
}

.container {
    @include media-breakpoint("xs") {
        @include make-container("xs");
    }

    @include media-breakpoint("sm") {
        @include make-container("sm");
    }

    @include media-breakpoint("md") {
        @include make-container("md");
    }

    @include media-breakpoint("lg") {
        @include make-container("lg");
    }

    @include media-breakpoint("xl") {
        @include make-container("xl");
    }
}

//** Tags **/

%tags {
    font-family: "Poppins", sans-serif;
    display: inline-flex;

    > div {
        margin: 0px 5px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.tags {
    @include make-row();
    @extend %tags;

    column-gap: 0;
}

//** Buttons **/
