@import "./variables";
@import "./fonts";
@import "./mixins";

@import "../../components/Pages/OutfitPage/styles.scss";

html,
body {
    font-family: $primary-font;
    color: $content-color;
}

.container {
    @include media-breakpoint("xs") {
        @include make-container("xs");
    }

    @include media-breakpoint("sm") {
        @include make-container("sm");
    }

    @include media-breakpoint("md") {
        @include make-container("md");
    }

    @include media-breakpoint("lg") {
        @include make-container("lg");
    }

    @include media-breakpoint("xl") {
        @include make-container("xl");
    }
}


//** Tags **/

%tags {
    font-family: $tag-font;
    display: inline-flex;
    justify-content: center;
}

.tags {
    @include make-row();
    @extend %tags;

    width: inherit;

    &-wrapper {
        display: inline-flex;
        position: relative;
        max-width: inherit;
        overflow: hidden;
        white-space: nowrap;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 18%;
            height: 100%;
            background: linear-gradient(90deg, transparent -5%, #fff 100%);
        }
    }
}

//** Buttons **/
