@import "./variables";
@import "./fonts";
@import "./mixins";

html,
body {
    font-family: $primary-font;
    color: $content-color;
    text-rendering: optimizeLegibility;
}

.container {
    @include media-breakpoint("xs") {
        @include make-container("xs");
    }

    @include media-breakpoint("sm") {
        @include make-container("sm");
    }

    @include media-breakpoint("md") {
        @include make-container("md");
    }

    @include media-breakpoint("lg") {
        @include make-container("lg");
    }

    @include media-breakpoint("xl") {
        @include make-container("xl");
    }
}

footer {
}

// Titles

.title {
    font-weight: 800;
    margin: 0;
}

.subtitle {
    margin: 5px 0;
}

.price {
    font-size: 1.15em;
    font-weight: 600;
}

//** Tags **/

%tags {
    font-family: $tag-font;
    display: inline-flex;
    justify-content: flex-start;
}

.tags {
    @include make-row();
    @extend %tags;

    width: inherit;

    &-wrapper {
        display: inline-flex;
        position: relative;
        width: inherit;
        max-width: inherit;
        overflow: hidden;
        white-space: nowrap;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 5%;
            height: 100%;
            background: linear-gradient(90deg, transparent -5%, #fff 100%);
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 5%;
            height: 100%;
            background: linear-gradient(90deg, transparent -5%, #fff 100%);
        }
    }
}

//** Buttons **/

//** Scrollbar **/

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
