@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

footer {
    @include make-row();

    min-height: 400px;
    height: fit-content;

    .footer {
        @include make-col(0 1);

        padding-top: calc($gutter-y * 3);

        &-wrapper {
            @include make-row();
        }

        &-content {
            @include make-grid(1fr 1fr 1fr 1fr);
        }

        &-copyrights {
            @include make-row();

            height: fit-content;

            p {
                line-height: 2em;
            }
        }

        &-item {
            width: auto;
            ul {
                padding-left: 0;
                > li {
                    list-style: none;
                    line-height: 2.2em;
                }
            }
        }
    }
}
