@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

header {
    margin: $gutter-y 0px;
    padding: 0px $gutter-x;

    .header-wrapper {
        @include make-row();

        column-gap: 22px;
        width: 100%;
        align-items: center;

        .logo {
            @include make-col(2);
        }

        .signup-button {
            @include media-breakpoint("xs") {
                display: none;
            }

            @include media-breakpoint("sm") {
                @include make-col(1);

                align-items: center;
                max-width: fit-content;
            }

            @include media-breakpoint("md") {
                @include make-col(1);

                align-items: center;
                max-width: fit-content;
            }

            @include media-breakpoint("lg") {
                @include make-col(1);

                align-items: center;
                max-width: fit-content;
            }

            @include media-breakpoint("xl") {
                @include make-col(1);

                align-items: center;
                max-width: fit-content;
            }
        }

        .signin-button {
            @include media-breakpoint("xs") {
                display: none;
            }

            @include media-breakpoint("sm") {
                @include make-col(1);

                align-items: center;
                max-width: fit-content;
            }

            @include media-breakpoint("md") {
                @include make-col(1);

                align-items: center;
                max-width: fit-content;
            }

            @include media-breakpoint("lg") {
                @include make-col(1);

                align-items: center;
                max-width: fit-content;
            }

            @include media-breakpoint("xl") {
                @include make-col(1);

                align-items: center;
                max-width: fit-content;
            }
        }

        .header-menu-button {
            @include make-col(2);

            align-items: end;
        }
    }
}
